@charset "UTF-8";
/* CSS Document */

@media (max-width: 575px) {
	
	.h-xs-6 {
		font-size:1rem; 
	}
}
:root {
  --corporate-color: #417D8B;	
  --corporate-color-active: #315e68;	
}

@media (min-width: 768px) {
	footer#footer {
		position: fixed;
		width: auto;
		right: 0;
	}
}

/* Components */

.thumbnail {
	height: 3.875rem;
	width: 5.167rem;
	min-width: 5.167rem;
    border-radius: .5rem;
    margin: 0 1rem 0 0;
	position: relative;
}
.mug {
	width:10em;
	height: 10em;

}
.mug-md {
	height: 3em;
	width: 3em;
	border-radius: 100%;
}
.mug-fill {
	min-width:10em;
	min-height: 330px; /* This number is specifically set for the Client Profil (Bio tab) */
	width: 100%;
	height: 100%;
	background-size: cover;
}

.field-admin {
	background: #EDF2F7;
    color: #467481;
	border: 1px solid #B6CFD8;
}
.text-nutrition {
	color: #61781E;
}

.nav-tabs .nav-link.active {
	font-weight: 600
	
}
.table th {
	font-weight: 600;
}
.form-group-miminal label {
	cursor: pointer;
}
.form-group-miminal input {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-weight: inherit;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.btn-tile {
	background: var(--secondary-color);
	display: block;
	border-radius: 4px;	
}
a.btn-tile:hover, a.btn-tile:active, a.btn-tile:focus {
	text-decoration: none;
}


.popover-dark {
	background-color: var(--gray-dark);
}
.popover-dark .popover-body {
	color: rgba(255,255,255,.8);
}
.popover-dark > .arrow::after{
	border-bottom-color: var(--gray-dark)!important;
}
.list-icon.flag-icon {
    background-size: cover;
    width: 2rem;
    border-radius: 100%;
}



.text-small {
	font-size: 80%;
}

a[data-visibility="corporate"], .btn-link[data-visibility="corporate"] {
	color: var(--corporate-color);
}

a[data-visibility="corporate"]:hover, a[data-visibility="corporate"]:focus,
.btn-link[data-visibility="corporate"]:hover, .btn-link[data-visibility="corporate"]:focus{
	color: var(--corporate-color-active);
}
.btn-corporate {
    background-color: var(--corporate-color);
	color: #fff;
}
.btn-corporate:hover, .btn-corporate:focus {
    background-color: var(--corporate-color-active);
	color: #fff;
}


[data-visibility="corporate"] > .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--corporate-color);
    background-color: var(--corporate-color);
}



.indicator-collapse.collapse-up:before {
    content: "\e64b";
}
[aria-expanded="true"] > .indicator-collapse.collapse-up:before {
    content: "\e64c";
}

/* -----------------Structure */

	.border-bottom-dashed, 
	.list-ruled li.border-bottom-dashed {
		border-bottom: 1px dashed #dee2e6;
	}



/* Roll Call */
section {			
	  -webkit-transition: all .25s ease-in-out;
	  -moz-transition: all .25s ease-in-out;
	  -o-transition: all .25s ease-in-out;
  	  transition: all .25s ease-in-out;
}

section[data-roll="absent"] {
	opacity: 0;
	height: 0;
	position: absolute;	
}
section[data-roll="absent"] > .contents {
	display: none;
}
section[data-roll="present"] {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0); 
}		
section[data-roll="engaged"] {
	opacity: 1;
	left: auto;
}
section[data-roll="absent"] {
	display: none;
}

/* Minimal Roll */		
		
	[data-roll="minimal"] .d-minimal-none {
			display: none!important;
			
		}

	section[data-roll="minimal"] {
		padding-left: 1rem!important;
		padding-right: 0!important;

	}
#wall_Clients[data-roll="minimal"] #clients_list {
	overflow: hidden;
}
#wall_Clients[data-roll="minimal"] [data-type="msg"] {
	white-space: nowrap;
    width: 90%;
    overflow: hidden;
    display: block;
    margin-right: -10rem;
}

@media (max-width: 992px) {
	
	section[data-roll="minimal"] {
		position: sticky;
		top: -2.5rem;
	}
	
	section[data-roll="minimal"] .list-items > li.indicate:after {
		display: none;
	}
	
	section[data-roll="minimal"] .list-items > li {
		opacity: .5;
	}
	section[data-roll="minimal"] .list-items > li.indicate {
		background:var(--gray-light);
		border-bottom: none;
		opacity: 1;
	}
	#wall_Clients[data-roll="minimal"] #clients_list {
		overflow: auto;
	}
}


	
	section[data-roll="minimal"] .list-items > li.indicate:after {
		    right: -1rem;
	}

section[data-roll="minimal"]  {
	font-size: small;
}
section[data-roll="minimal"] h1 {
/*    font-size: 1.5rem!important;*/
}

.wall-scroll {
	overflow: auto;
	overflow-x: hidden!important; 
	max-height: calc(100vh - 4rem);
}

@media (min-width: 992px) { 						

			section[data-roll="present"] {
			   position: static;
			   width: auto;
			   height: auto;
			   margin: inherit;
			   overflow: inherit;
			   clip: inherit; 
			   border: inherit;
			}
			section[data-roll="absent"] {
				opacity: 0;
				height: 0;
				display: inherit;
				left: -100%;
			}
	section[data-roll="minimal"] {
		display: block;
		
	}
			#wall_Exercise {
				position: relative;
				right: 0;
				top: 0;
				left: auto;
			}


}



#posterImage .icon-camera {
	font-size: 2.5em;
	line-height: 1.8em;
}


/* Day of Plan (Workout)*/

.plan-day.active {
	position: relative;
}
/*.plan-day:hover, .plan-day:focus  --- moving hover/focus to the takeover button{
	background: #f8f8f8;
	border-radius: 8px;
}*/
.plan-day.active:after {
	content: "";
    width: 2em;
    height: 2em;
    right: -4em;
    position: absolute;
    background: #d8d8d8;
    border-radius: 100%;
}
.plan-day .thumbnail {
	background-image: url("../img/icon-dumbell.png");
	background-repeat:  no-repeat;
	background-position: center;
	background-color: #EFEFF4;
	background-size: auto;
}
.plan-day .thumbnail.populated {
	background-size: auto 100%;
}
.plan-day.rest-day .thumbnail {
	background-image: url("../img/icon-yoga.png");
}
.plan-day.task-custom .thumbnail {
	background-image: url("../img/icon-date-check.png");
}

[data-action="add_to_workout"],
[data-action="add_existing_to_plan"]{		
	z-index: 2;
}


.thumbnail.icon-plate:before {
		opacity:.175;
}
.nutrition-day {
	position: absolute;
	left: 0;
	right: 0;
	font-family: var(--font-family-sans-serif);
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 2rem;
}
.task-nutrition-day .thumbnail {
    background: #EFFAD4;
    color: #61781E;
	padding: .40em .25em;
    text-align: center;
    line-height: 1;
    font-size: 2em;
}



.workout-meta .poster {
	height: 30vh;
    background: var(--gray-lightest) no-repeat center center / auto 100%;
    background-blend-mode: multiply;
}

/* Hide button when Exercises wall is engaged 
#wall_Workout[data-roll="present"] [data-action="add_exercise"] {
	display: none;
}*/

#wall_Workout [data-action="add_to_workout"]{
	display: none;

}
#wall_Exercise [data-action="drag"],
#wall_Exercise [data-action="more"]	{
	display: none;
}



#plan_workouts .indicate:after {
    content: "";
    width: 2rem;
    height: 2rem;
    right: -4rem;
	top:2.5rem;
    position: absolute;
    background: #d8d8d8;
    border-radius: 100%;
}



/* Exercises */
.item-exercise {
	position: relative;		
}
#wall_Overview .item-exercise .embed-responsive,
#wall_Overview .item-exercise .details {
	display: none;
}


.view-exercise .list-ruled > li {
    border: none;
}

.view-exercise .contents-workout {
	margin: 0!important;
}

.view-exercise .notes-workout,
.view-exercise .workout-meta,
.view-exercise .item-set
{
	display: none;
}
/*
.item-exercise.detail {
	border: none;
	flex-direction: column-reverse;
}
.item-exercise.detail .embed-responsive,
.item-exercise.detail pre,
.item-exercise.detail [data-action="back_to_library"],
.item-exercise.detail .intensities {
	display: inherit;
}
.item-exercise.detail .intensities {
    flex-direction: column;
}

.item-exercise.detail [data-action="view_detail"],
.item-exercise.detail .thumbnail{
	display: none;
}
.item-exercise.detail [data-action="add_to_workout"]:after {
	content:"Add to Workout";
	font-weight: bold;
	margin: 0 .5em;
}

.item-exercise.detail .name {
	display: block;
	font-size: 1.075em;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 2rem;
}
.item-exercise.detail .name {
	font-size: 1.075em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 2rem;
	display: block;
	text-align: center;
}

.item-exercise.detail .name small {
	font-size: 80%;		
}

.item-exercise.detail [data-action="back_to_library"]{
	position: absolute;
	top: 0;
	left: 0;
}
*/


/* Exercise Libary Listing — hide this stuff */
#wall_Exercise .item-exercise .description,
#wall_Exercise .item-exercise .intensities,
#wall_Exercise [data-action="back_to_library"] {
	display: none;
}

.item-set {
	border: none!important;
	padding: .4em;
	background: #f0f0f0;
	margin-top: 1em;
	font-size: small;
}


/* Chat */

.list-ruled > li.unread {
	border-left: 3px solid var(--primary-color);
}




/* Progress Circle */
.progress-circle {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-circle > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-circle .progress-left {
  left: 0;
}
.progress-circle .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: var(--purple)
}
.progress-circle .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress-circle .progress-right {
  right: 0;
}
.progress-circle .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress-circle .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  font-weight: 300;
}
.progress-circle .progress-value div {
  margin-top: 10px;
}
.progress-circle .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress-circle[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress-circle[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress-circle[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress-circle[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress-circle[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
#progress-nutrition .progress-bar {
	border-color: var(--green)
}




/* Typeahead */


.typeahead, .tt-query, .tt-hint {
	display: block;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {

}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	padding: 8px 0;
	width: 100%;
}
.tt-suggestion {
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: var(--secondary-color);
}
.tt-suggestion p {
	margin: 0;
}




/* Consider moving this to custom.css */

/* Layer tooltips up a level in case takeover button is present */
.list-items [data-toggle="tooltip"] {
	position: relative;
	z-index: 1;
}

.list-icon.mug {
	width: 2rem;
	height: 2rem;
}



.list-icon-sm {
	display: inline-block;
	text-align: center;
	width: 2rem;
		
}

/* PRINT CSS FOR THE GONKULATOR STUFF... MOVE TO IT'S OWN THING PROBABLY */
	
	
@media print {
	@page {size: landscape}
	body.modal-open .modal-header,
	body.modal-open .modal-content {
		border: none;
	}
	.modal-body {
		
	}
	body.modal-open .modal {
		left:-1px;
	}
	body.modal-open .modal-title {
		font-weight: bold;
	}
	body.modal-open .table-responsive,
	body.modal-open tbody {
		display: unset!important;
		max-height:none;
	}
	body.modal-open th, 
	body.modal-open td {
		min-width: inherit!important;
	}
	body.modal-open .table td.bg-purple, 
	body.modal-open .table th.bg-purple {
		background-color:var(--primary)!important;
	}
	body.modal-open .table td.bg-dark,
	body.modal-open .table th.bg-dark {
		
		background-color:var(--dark)!important;
	
	}
	body.modal-open .modal-lg {
		max-width: unset;
	}
	body.modal-open .modal-dialog {
		margin: 0;
	}
	body.modal-open .modal-backdrop.show {
   		 opacity: 1;
 	  	 background: #fff;
	}
	body.modal-open .table-fixed-top-left tr th:first-child,
	body.modal-open .table-fixed-top-left tr:first-child th {
		position: static;
	}
}



/* ----------CHAT----------*/
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg {
	display: flex;
	justify-content: space-between;
	align-content: start;
	margin: 1rem

}
	
.incoming_msg_img {
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: var(--gray-light) none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
	max-width: 600px;
	margin: auto;
}

 .sent_msg p {
  background: var(--primary-color) none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:1rem;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}


.type_msg {
	background: #fff;
	border-top: 1px solid #c4c4c4;
	padding-left: 1rem;
	position: relative;
}
@media (max-width: 767px) { 
	
	.type_msg {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
	}

}
.msg_send_btn {
  background: var(--primary-color) none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 1rem;
  top: 11px;
  width: 33px;
}

.chat-injection {
	margin: 1rem;
}
.messaging { padding: 0 0 50px 0;}

	
.msg_history {
  height: 516px;
  height: calc(100vh - 17em);
  overflow-y: auto;
}
	
	@media (min-width: 768px) {	
		.msg_history {
		  height: calc(100vh - 16em);
		}		
	}
		
		
	
