@charset "UTF-8";
@import url('https://s3.amazonaws.com/icomoon.io/43188/Apps/style.css?ojm36u');


/* Override Bootstrap'd default variables */
:root {
  --primary-color: #7f51a2;	
  --primary-color-active: #6a4488;	
  --secondary-color: #efeff4;
  --secondary-color-active: #E6E6EF;
	
  --blue: #237CA9;
  --aqua: #95D0D7;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #AFBC21;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray-lightest: #f8f8f8;
  --gray-light: #f0f0f0;
  --gray-soft: #E3E3E3;	/* adjusted for contrast compliance with primary color (formerly #d8d8d8*/
  --gray: #707070;
  --gray-dark: #333333;
  --disabled: #6c757d;	
  --primary: #7f51a2;
  --secondary: #efeff4;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Averta', 'Averta W03', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/**
 * CH00 - SKIN
 * CH01 - ANATOMY
 * CH02 - TYPOGRAPHY
 * CH03 - COMPONENTS
 * CH04 - FORMS
 * CH05 - ELEMENT AGNOSTIC
**/


/*----------CH00 - SKIN----------*/
body #main {
	font-family: var(--font-family-sans-serif);
}

a, 
.btn-link,
.page-link {
	    color: var(--primary-color);
}
.text-primary {
	 color: var(--primary-color)!important;
}
.btn-primary,
.list-group-item.active,
.btn-primary.disabled, .btn-primary:disabled,
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled):hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle,
a.badge-primary:hover, a.badge-primary:focus, a.badge-secondary:hover, a.badge-secondary:focus {
    background-color: var(--primary-color-active);
    border-color: var(--primary-color-active);
}
.btn-primary:focus, .btn-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(127, 81, 162, 0.5);
}
.btn-outline-primary {
    color:var(--primary-color);
    border-color:var(--primary-color);
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
	    box-shadow: 0 0 0 0.2rem rgba(127, 81, 162, 0.5);
}
.dropdown-item.active, .dropdown-item:active {
	 background-color: var(--primary-color-active);	
}
.btn-secondary, .btn-secondary.disabled, .btn-secondary:disabled, .badge-secondary  {
    color:var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--gray-soft);
}
.btn-secondary:not(:disabled):not(.disabled):hover, .btn-secondary:not(:disabled):not(.disabled):focus,
.page-link:hover {
	color: var(--primary-color-active);
	background-color: var(--secondary-color-active);
    border-color: var(--primary-color-active);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.bg-primary {
    background-color: var(--primary-color)!important;
}
.bg-secondary {
	color:var(--primary-color-active)!important;
    background-color: var(--secondary-color)!important;
}
.badge-primary,
.progress-bar {
	background-color:var(--primary-color);
}
.breadcrumb-item.active {
    color: var(--gray);
}
/*----------CH01 - ANATOMY----------*/
html {
	height: 100%;
}
body {
	background-color: #fff;
    color: #000;
    min-height: 100%;
    position: relative;
}
body.cover:before {
	background: #000;
	opacity: .75;
	content: "";
	position: fixed;
	bottom: 0;
	right: 0;
	left:0;
	top:0;
	z-index: 1
}
body.cover {
	background: url(../img/dumbbells.jpg) #000 fixed;
	background-size: cover;
	color: #fff;
}

	/* adjust error color for dark bg */
	body.cover .invalid-feedback {
		color:	#F2A1AA
	}
.navbar-header {
	background-color: #804c9e;
}
@media (max-width: 767.98px) {
	/* Unfix the header on smaller screens */
	.navbar-header.fixed-top {
		position: absolute;
	}
	
	#navbar .dropdown-menu.show {
		display: block;
		position: relative!important;
		top: 0!important;
		transform: none!important;
		width: 100%;
		margin: 0 0 1em;
		box-sizing: border-box;
		padding: 0;
	}
	
	.dropdown-menu-inner > ul {
		background: rgba(0,0,0,1);
		color: #fff;
	}
}

/* Note:  transitioning to navlat contention for the latitudinal nav scheme */
.navbar-toggle,
.navlat-toggle {
	color: #707070;
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle[aria-expanded="true"],
.navlat-toggle[aria-expanded="true"] {
    width: 100%;
    position: absolute;
    background: #333;
    color: #fff;
    top: 0;
    margin: 0;
    height: 4em;
    border-radius: 0;
    text-align: left;
	z-index: 10;
	
}
/* End: Note */
body > .container, header, main, footer {
	position: relative;
	z-index: 2
}
#header {
	z-index: 50
}
#header .logo {
    display: inline-block;
    /*padding: 17px 15px;*/
	white-space: nowrap;
}
#header .top {
	background: #F8F8F8;
	box-shadow: 0px .5px 0 rgba(0,0,0,.15);	
	height: 4em;
}
footer#footer {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.05) inset;
	bottom: 0;
	color: #696969;
	font-size: small;
	padding: .25rem;
	width: 100%;
    z-index: 50;    
}
@media (min-width: 768px) {
	footer#footer {
		position: absolute;
	}

}
#footer a,
#footer a:visited {
	color: #696969;
}
#footer a:hover,
#footer a:focus {
	color: #000;
}


/* Added to address an issue in Safari. https://github.com/twbs/bootstrap/issues/24219 */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
	.row:before, .row:after {
		display: inline-block;
	}
}}

/* Navigation */
nav.sidebar {
   	background: #333333;
    box-shadow: 0px 0px 1px rgba(0,0,0,.25);
	color: rgba(255,255,255, 1);	
    left: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	position: relative;
	transition: height .075s;
	z-index: 40;
}
@media (min-width: 768px) {
	nav.sidebar {
		
	}
}
nav.sidebar.show {
	height: unset;
	min-height: 100%;
	overflow: auto;
	bottom: 0;
}
nav.sidebar:focus-within {
	height: auto;
}
nav.sidebar a.tile {
	font-size: small;
	text-rendering: optimizeLegibility;
	    -webkit-font-smoothing: antialiased;
}
@media (min-width: 1200px) {
	nav.sidebar a.tile {
		font-size: medium;		
	}
}
nav.sidebar :not(.show) >  a.tile {
	color: rgba(255,255,255,.75);
}
nav.sidebar a.tile {
	display: block;
	padding: 1em;
	text-decoration: none;
}
nav.sidebar a.tile:hover, nav.sidebar a.tile:focus {
	background: #000;
}
nav.sidebar .show a.tile {
	background: #000;
	color: var(--secondary-color);
}
nav.sidebar a.tile.active, nav.sidebar .show a.tile.active {
	background: #fff;
	color:var(--primary-color);
	
}

nav.sidebar .dropdown-item {
    padding: 0.25rem 1rem;
}

/*
nav.sidebar .nav-list {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0;
}*/
nav.sidebar .nav-list > li {	
	width: -webkit-fill-available;
	width: -moz-available;
	margin: 0;
}


nav.sidebar a.dropdown-item {
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,.825);
    white-space: inherit;
    color: #fff;
}
nav.sidebar a.dropdown-item:hover,
nav.sidebar a.dropdown-item:focus {
	background:var(--primary-color);
	color: rgba(255,255,255, 1);

}


@media (min-width: 768px) {
	
	header .top {
		box-shadow: 0px 1px 6px rgba(0,0,0,.15);	
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	main.container-absolute	 {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
	}
	main.container-relative	 {
		position: relative;
		padding-top: 4rem;
		width: 100%;
	}
	main.container-fluid,
	main.container-absolute {
	}
	main.container-fluid,
	main.container-absolute
	main.container-relative,
	main.container {
		padding-top: 4.25rem;
		padding-bottom: 3.25rem;
		overflow: auto;
	}
	
	nav.sidebar {
		box-shadow: none;
	    display: block!important; /* this is to force the Nav to always be visible on larger screens.*/
		height: auto;
		bottom:0;
/*		min-width: 6.25em;*/
		right: auto;
		overflow: visible;
	}
	nav.sidebar a {		
		font-size: 1rem;
	}
	nav.sidebar .nav-list {
		display: inherit;
/*		position: -webkit-sticky;
		position: sticky;*/
		padding-top: 4rem;
/*		width: 6.25rem;*/
	}
	
	nav.sidebar .dropright {

	}
	
	nav.sidebar .dropright.show:after {
		content: "";
		background: red;
		top: 0;
		bottom: 0;
		display: block;
	}
	
	
	nav.sidebar .dropdown-menu {
		border:none;
		background: transparent;
		display: inherit;
		width: 0;
		overflow: hidden;
		min-width: 0;
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
	}
	
	nav.sidebar .dropdown-menu.show {
		border-radius: 0;
		border: none;
		overflow: auto;
		padding:0;
		margin-left: 0;
		width: 16rem;		
	    opacity: 1;
			
	}
	nav.sidebar .dropdown-menu.show {
		border: 1px solid rgba(0, 0, 0, 0.25);
		border:0;
		border-left: none;
		overflow-x: hidden;
	}
	nav.sidebar .dropdown-menu-inner {
		width: 16rem;
	}
	nav.sidebar .dropdown-menu-inner > ul,
	nav.sidebar .dropdown-menu > ul {
		list-style: circle;
		padding: 0;
	}
	nav.sidebar .dropdown-menu-inner > ul .dropdown-item,
	nav.sidebar .dropdown-menu > ul .dropdown-item {
		display: flex;
	}
	nav.sidebar .dropdown-menu-inner > ul .dropdown-item:before,
	nav.sidebar .dropdown-menu > ul .dropdown-item:before {
		content: "• ";
		padding-right: 1em;
	}
	
	nav.sidebar a.tile {
		padding: 1.375em .25em;
		text-align: center;
		line-height: 1;
	}
	nav.sidebar .tile .icon {
		display: block;
		font-size: 2em;
		margin-bottom: .25em;
	}
	
	main {
		transition: padding .05s;
	}
	main.bumpout {
		padding-left: 18.25em;
	}
	
	
	
}


@media (max-width: 767.98px) {
	.center-middle {
		padding: 90px 15px;
	}
	
}
.form-constrainer {
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.center-block {
	margin: auto;
}


/*----------CH02 - TYPOGRAPHY----------*/
b, strong {
	font-weight: inherit;
}

.heading {
	font-size: 1.075em;
	margin-bottom: 2rem
}
.subheading {
	font-size: 1rem;	
}

.heading.text-caps,
.subheading.text-caps {
	text-transform: uppercase;
	letter-spacing: .1em;
}

.nowrap {
	white-space: nowrap;
}

pre.description {
	font-family: inherit;
	white-space: pre-wrap;  
}

.text-muted {
    color: var(--gray)!important;
}
.bg-secondary .text-muted,
.btn-secondary .text-muted {
	color: #666666!important;
}
.text-purple-dark {
	color: #3F1966!important;
}




a:hover, a:focus,
.btn-link:hover, .btn-link:focus {
    color: var(--primary-color-active);
    text-decoration: underline;
}

a.link-reverse {
	color: #fff;
	opacity:.6;
}
a.link-reverse:hover, a.link-reverse:focus {
	opacity: 1;
}

/*----------CH03 - COMPONENTS----------*/

/* Alerts */


.alert-fixed.fixed-bottom {
	bottom:-100%;
	-webkit-transition: bottom 400ms ease-in-out;
  	-moz-transition: bottom 400ms ease-in-out;
 	 -o-transition: bottom 400ms ease-in-out;
 	 transition: bottom 400ms ease-in-out;
}
.alert-fixed.fixed-bottom.active {
  	bottom:0;
}


/* Buttons */


.btn-bold[class*="btn-outline"] {
	border-width: 3px;
}
.btn-bold {
	font-weight: 700;
}

.btn-secondary {
	background: var(--secondary-color);
	color:var(--primary-color);
}

.btn-outline-dotted {
	border-style: dotted;
}
.btn-outline-dotted:hover, .btn-outline-dotted:focus,
.show > .btn-outline-dotted.dropdown-toggle {
    background: var(--secondary-color);
	color:var(--primary-color);
}
/* Button appears to make entire container clickable (container must not have static positioning) */
.btn-takeover {
	border-radius: 0;
	-webkit-appearance: none;
	border: none;
	width: 0;
	height: 0;
	padding: 0!important;
}
.btn-takeover:after {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.btn-takeover:hover,
.btn-takeover:focus {
	text-decoration: none;
}
.btn-takeover:hover:after,
.btn-takeover:focus:after {
	background: rgba(0,0,0,.025);
}


.icon-drag {
	z-index: 2;
}
.list-icon {
	color:var(--primary-color);
	font-size: 2rem;
	width: 2rem;
    display: inline-block;
}

	/* Utility Buttons */

	.btn-success {
		color: #fff;
		background-color: #3c763d;
		border-color: #3c763d;
	}
	.btn-outline-success {
		color: #3c763d;
		border-color: #3c763d;
	}
	.btn-danger {
		color: #fff;
		background-color: #a94442;
		border-color: #a94442;
	}
.btn-outline-danger {
    color: #a94442;
    border-color: #a94442;
}

/* flush triggers */
.trigger-y {
    border: none;
    bottom: 0;
    top: 0;
    z-index: 4;
    width: 1rem;
}

/* Cards */
.card-minimal {
	border: none;
}
.card-minimal > .card-body {
	border: none;
	padding-left:0;
	padding-right: 0;
}

/* Collapse */
.indicator-collapse:before {
    font-family: 'icomoon-afm';
    font-style: normal;
	content: "\e64d";
	display: inline-block;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;	
}
[aria-expanded="true"] > .indicator-collapse:before {
	content: "\e64b";
}



/* Images & Icons */

a.logo, a.logo:hover, a.logo:focus, a.logo:active, a.logo:visited {
	color: #000;
/*	font-size: 7vw;*/
	text-decoration: none;
}
@media (min-width: 576px) {
	a.logo {
		font-size: 1.85em;
	}
}
.logo .icon-running-man {
	color:#804c9e;
	vertical-align: middle;
}
.thumbnail {
	background: #ccc no-repeat center center / auto 100%;
	border-radius: .5em;
	box-shadow: 0px 0px 1px rgba(0,0,0,.25);
	width:3.875em;
	min-width: 3.875em;
	height: 3.875em;
	margin:0 1em 0 0;
}
.mug {
	background: #ccc no-repeat center center / auto 100%;
	border-radius: .5em;
	box-shadow: 0px 0px 1px rgba(0,0,0,.25);
	display: block;
	max-width: 100%;
}
.mug-small, .mug-sm {
	height: 2em;
	width: 2em;
	border-radius: 100%;
}
.mug-md {
	height: 3em;
	width: 3em;
	border-radius: 100%;
}
.icon-utility {
	background: #ccc;
	border-radius: 100em;
	width:1.875em;
	height: 1.875em;
}

/* Jumbotron */

.jumbotron {
    background-color: #f0f0f0;
}


/* Lists */


ol, ul, dl {
    padding-inline-start: 1.75rem;
}

.list-items > li {
	display: flex;
    align-items: center;
    position: relative;
}
.list-ruled > li {
	border-bottom: 1px solid #d8d8d8;
}
.list-ruled-light > li {
	border-bottom: 1px solid #fff;
}
.list-ruled-sub > li {
	border-top: 1px dotted #d8d8d8;
}

/* Search Unit */

.search-unit {
	border-radius: 20px;
	background: #fff;
	border:1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
    position: relative;    
}
	.search-unit input {
		background: transparent;
		border: none;
		border-radius: 20px 0 0 20px;

	}
	.search-unit input:focus {
		outline: none;
	}
.kb-search {
    z-index: 40000;
	max-width: 18em
}

/* Table */

/* Tooltips */

	/* CSS only tooltips */
	[data-toggle="css-tooltip"] {
		display: inline-block;
	}
	a[data-toggle="css-tooltip"] {
		text-decoration: none;
	}
	[data-toggle="css-tooltip"]::before, [data-toggle="css-tooltip"]::after {
		opacity: 0;
		transition: all .6s;

	}
	[data-toggle="css-tooltip"]:hover::before, [data-toggle="css-tooltip"]:hover::after, [data-toggle="css-tooltip"]:focus::before, [data-toggle="css-tooltip"]:focus::after {
	  display: block;
	  position: absolute;
	  font-size: small;
	  color: #fff;
	  font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	  text-transform: none;
	  letter-spacing: normal;
	  opacity: 1;	
	}
	[data-toggle="css-tooltip"]:hover::before, [data-toggle="css-tooltip"]:focus::before {
		background: #000;
		border-radius: 0.2em;
		box-shadow: 3px 3px 6px rgba(0,0,0,.25);
		content: attr(aria-label);
		padding: 0.3em;
		text-align: center;
		transform: translate(-43%, -116%);
		width: auto;
		z-index: 3;
	}

	/* Tooltip pointer */
	[data-toggle="css-tooltip"]:hover::after, [data-toggle="css-tooltip"]:focus::after {
	  content: "";
	  margin-top: -2.1em;
	  margin-left: 0;
	  border-style: solid;
	  border-color: transparent;
	  border-top-color: #000;
	  border-width: 0.5em 0.5em 0 0.5em;
	  z-index: 2;
	}

	

/* Indication */


	.list-items > li.indicate:after {
		content: "";
		width: 2em;
		height: 2em;
		right: -4em;
		position: absolute;
		background: #d8d8d8;
		border-radius: 100%;
	}


/* Toasts */

.toast-success, .toast-success .toast-header {
	background: #d4edda;
	color: #155724;
}


/*----------CH04 - FORMS----------*/



.form-control {
	border-color: var(--gray-soft);
}

	.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: var(--gray);
	  opacity: 1; /* Firefox */
	}
	.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: var(--gray);
	}
	.form-control::-ms-input-placeholder { /* Microsoft Edge */
	  color: var(--gray);
	}

	.form-control:disabled, .form-control[readonly] {
		background: var(--gray-light);
	}


	/* Image Upload Unit */


	.file-upload-unit:focus-within .img-upload-preview {
		    color: #000;
   			background-color: #f0f0f0;
   			border-color: #545b62;

	}

	.img-upload-preview {
		background: no-repeat center center / cover;
		background-size: cover!important;
	}
	.img-upload-preview.populated .icon-camera {
		opacity: 0;
	}
	.img-upload-preview.populated:hover .icon-camera,
	.img-upload-preview.populated:focus .icon-camera{
		opacity: 1;
	}


	/* Select within a heading (first used in Plan Builder) */
	.heading .custom-select {		
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .1em;
	}

	/* Checked current selection in Dropdown menu (alternative to Dropdown Active) */
		.dropdown-item.checked {
			padding-right: 3em;
		}
		.dropdown-item.checked:after {
			content: " \e023";
			color:var(--primary-color);
			font-family: 'icomoon-afm';
			position: absolute;
			right: 1em;
		}


/* Checkboxes */
label.slickcheck {
			position: relative
		}
		
		label.slickcheck .checkbox {
			background: #999;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
			color: white;
			display: inline-block;
			height: 23px;
			line-height: 25px;
			text-align: center;
			vertical-align: middle;
			width: 23px;
		}
		
		label.slickcheck input[type=checkbox]:hover ~ .checkbox,
		label.slickcheck input[type=checkbox]:focus ~ .checkbox{
			background: #ccc;
		}
		
		label.slickcheck input[type=checkbox]:checked ~ .checkbox {
			background-color: #9ACB3B;
			background-position: -284px 4px;
			background-image: url(//anytimefitness.blob.core.windows.net/shared-images/imported/glyphicons-halflings-white.png);
			background-repeat: repeat-x;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
			color: white;
			outline: 0 none;
		}
		
		label.slickcheck input[type=checkbox] {
			    position: absolute;
				z-index: -1;
				opacity: 0;
		}
/* Custom Radio */



	label.custom-radio {
		cursor: pointer;
	}
	label.custom-radio input[type=radio] {
		clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
		-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
	}



	label.custom-radio input[type=radio] + .indicator:before {
		color: var(--primary-color);
		content: "\e95d";
		font-family: 'icomoon-afm';
		font-style: normal;
		speak: none;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		
	}
	label.custom-radio input[type=radio]:checked + .indicator:before {
		content: "\e95c"
	}

/* Switches */

.switch {
	padding-left: 0;
	
}
.switch input {
    display: inherit;
    position: absolute;
    left: -100000%;
}
.switch label:before {
	background: #fff;
    border-radius: 2em;
	top:.2em;
	left: .2em;	
	content: "";
	display: block;
	height: 1.6em;
	position: absolute;
    width: 1.6em;
	  -webkit-transition: all .25s ease-in-out;
	  -moz-transition: all .25s ease-in-out;
	  -o-transition: all .25s ease-in-out;
  	  transition: all .25s ease-in-out;
}
.switch label:after {
	background: #9e9e9e;
	border-radius: 2em;
	content: "";
	display: block;
    height: 2em;        
    width: 4em;
	-webkit-transition: all .25s ease-in-out;
	  -moz-transition: all .25s ease-in-out;
	  -o-transition: all .25s ease-in-out;
  	  transition: all .25s ease-in-out;
}
.switch input[type=checkbox]:checked + label:before {
	left: 2.2em;	
}
.switch input[type=checkbox]:checked + label:after {
	background:var(--primary-color);	
}

.switch input[type=checkbox]:focus + label:after {
	outline: 1px dotted;
}

.switch-below  label:before {
	top: unset;
	bottom:.2em;
}
.switch .label-right {
	float: right;
	margin-left: 5rem;
	
}


/* Input Groups */
.input-group-text {
	 background-color: var(--gray-light);
	border-color: var(--gray-soft);
	
}


/* Floating Labels, requires some javascript to place the .populated on the parent .form-group  */
.js-float-labels label {
	color: #fff;
	text-indent: 5px;
    margin-top: -15px;

}
.js-float-labels label, .js-float-labels input {
  transition: all 0.2s;
  touch-action: manipulation;
  margin-bottom: 0;
}

.js-float-labels input {
  font-size: 1.125em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 4px;
  padding: 4px;
  cursor: text;
}

.js-float-labels input:focus {

  border-bottom: 1px solid #666;
}


/**
* Style label to appear as a placeholder (until the input is in focus or has a value).
*/
.js-float-labels  label {
  color: #757575;
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.5rem) scale(1.125);
}

/*
* Style label like a label if input is in focus or has a value
*/
.js-float-labels .populated label, .js-float-labels .form-group:focus-within label {
	color: #fff;
	transform: none;
	
}




/*----------CH05 - ELEMENT AGNOSTIC----------*/




/* Backgrounds */

.bg-white {
	background: #fff;
}




.bg-purple, .bg-purple a {
	background: #7f51a2!important;
	color: rgba(255,255,255,.95)!important;
}
.bg-violet, .bg-violet a {
	background: #7A68AE!important;
	color: rgba(255,255,255,.95)!important;
}
.bg-blue, .bg-blue a {
	background: #298AB5!important;
	color: rgba(0,0,0,.8)!important;
}
.bg-aqua, .bg-aqua a {
	background: #95D0D7!important;
	color: rgba(0,0,0,.6)!important;
}
.bg-green, .bg-green a {
	background: #AFBC21!important;
	color: rgba(0,0,0,.61)!important;
}
.bg-yellow, .bg-yellow a {
	background: #E3C502!important;
	color: rgba(0,0,0,.6)!important;
}
.bg-orange, .bg-orange a {
	background: #EF810F!important;
	color: rgba(0,0,0,.64)!important;
}
.bg-red, .bg-red a {
	background: #DE2A2A!important;
	color: rgba(255,255,255,1)!important;
}
.bg-pink, .bg-pink a {
	background: #DE2A66!important;
	color: rgba(255,255,255,1)!important;
}
.bg-purple a, .bg-violet a, .bg-blue a, .bg-aqua a, .bg-green a, .bg-yellow a, .bg-orange a, .bg-red a, .bg-pink a {
	text-decoration: underline;	
}

/* Fields */
.field-pink {
	background: #F5BFD1!important;
	color: #AC0221!important;
}
.field-pink a {
	color: #AC0221!important;
}
.field-red {
	background: #F5BFBF!important;
	color: #A90303!important;
}
.field-red a{
	color: #A90303!important;
}


.field-orange {
	background: #FAD9B7!important;
	color: #b62800!important;
}
.field-orange a {
	color: #b62800!important;
}

.field-yellow {
	background: #F5EBA7!important;
	color: #8f5700!important;
}
.field-yellow a {
	color: #8f5700!important;
}

.field-green {
	background: #dfe4a6!important;
	color: #556600!important;
}
.field-green a {
	color: #556600!important;
}
.field-aqua {
	background: #cfeaed!important;
	color: #1d7080!important;
}
.field-aqua a {
	color: #1d7080!important;
}
.field-blue {
	background: #A9D0E1!important;
	color: #105787!important;
}
.field-blue a{
	color: #105787!important;
}
.field-violet {
	background: #BFB6D8!important;
	color: #3A2A76!important;
}
.field-violet a{
	color: #3A2A76!important;
}
.field-purple {
	background: #CCB9DA!important;
	color: #3f1966!important;
}
.field-purple a {
	color: #3f1966!important;
}

.field-pink-rev {
	color: #F5BFD1!important;
	background: #AC0221!important;
}
.field-pink-rev a {
	color: #F5BFD1!important;
}
.field-red-rev {
	color: #F5BFBF!important;
	background: #A90303!important;
}
.field-red-rev a {
	color: #FAD9B7!important;
}
.field-orange-rev {
	color: #FAD9B7!important;
	background: #b62800!important;
}

.field-orange-rev a {
	color: #FAD9B7!important;
}

.field-yellow-rev {
	color: #F5EBA7!important;
	background: #8f5700!important;
}
.field-yellow-rev a {
	color: #F5EBA7!important;

}

.field-green-rev {
	color: #dfe4a6!important;
	background: #556600!important;
}

.field-green-rev a {
	color: #dfe4a6!important;
}
.field-aqua-rev {
	color: #cfeaed!important;
	background: #1d7080!important;
}

.field-aqua-rev a {
	color: #cfeaed!important;

}
.field-blue-rev {
	color: #A9D0E1!important;
	background: #105787!important;
}

.field-blue-rev a {
	color: #A9D0E1!important;

}
.field-violet-rev {
	color: #BFB6D8!important;
	background: #3A2A76!important;
}
.field-violet-rev a {
	color: #BFB6D8!important;
}

.field-purple-rev {
	color: #CCB9DA!important;
	background: #3f1966!important;
}
.field-purple-rev a{
	color: #CCB9DA!important;

}

[class*="field-"] a:not(.btn) {
	border-bottom: 1px dotted;
}
[class*="field-"] a:hover:not(.btn) {
	border-bottom: 1px solid;
	text-decoration: none;
}

a[class*="field-"]:hover {
	filter: brightness(105%);
}

/* -------- potentially obsolete */
		.bg-dark {
			background: #2B263B!important;
		}

		.bg-masanz {
			background: #5c408b!important;
		}
		.bg-purple-dark {
			background: #4f4265!important;
		}


		/* Neutral */
		.bg-gray, .bg-gray-soft {
			background: #E3E3E3!important;
		}
		.bg-gray-light {
			background: #f0f0f0!important;
		}
		.bg-gray-lightest {
			background: #F8F8F8!important;
		}
		.bg-neutral {
			background: #707070!important
		}
		.bg-gray-dark {
			background: #333333!important;
		}


		/* Accessible Backgrounds (against white) */

		.bg-yellow-dark {
			background: #A96700!important
		}

		.bg-orange-dark {
			background: #CC4705!important
		}
		.bg-cyan-dark {
			background: #1D7080!important
		}
		.bg-magenta-dark {
			background: #C10628!important
		}
		.bg-lime-dark {
			background: #657702!important
		}
		.bg-blue-dark {
			background: #105787!important
		}

.text-orange-dark {
	color: #B84005;
}
.text-masanz {
	color: #5c408b; 
}


/* Borders */
.rounded-pill {
    border-radius: 50rem!important;
}

/* Display, Position & Spacing */

.flex-container {
	display: flex;
}
.dark {
	background: #000;
	color: #fff;
}
.pad {
	padding: 1em;
}
/* Removing this in favor of Bootstrap's spacing utilities
.margin-top {
	margin-top: 2em;
}*/
.center-middle {
	 display: flex;
    -ms-flex-align: center;
    align-items: center;
	min-height: 100%;
	/* If navbar is fixed */
	padding: 60px 15px;
}

.overflow-auto {
	overflow: auto;
}



@media (min-width: 768px) {
	
	.overflow-sm-auto /* Parent must be absolutely positioned */{
		overflow: auto;	
	}

	.width-limited {
		max-width: 100vw;
		min-width: 40%;
	}
	.width-limited-wide {
		max-width: 60rem;
		min-width: 20rem;
	}

}
@media (min-width: 1200px) {
	.width-limited {
		max-width: 800px;
		min-width: unset;
		width: 40vw;
	}
	.width-limited-wide {
		max-width: 60vw;
		min-width: unset;
	}
	
}
