@charset "UTF-8";
/* CSS Document */

@import url("../fonts/stylesheet.css");



html, body, header, section, footer {
	    	font-family: 'Averta', sans-serif;
		}
strong {
	font-weight: 700;
}
.text-thin {
	 font-weight: 300;
}

footer.main .nav > li:last-child > a {
    display: inherit;
}

