@charset "UTF-8";
/* CSS Document */



/* Common Styles */

.span16, .span12, .span4 {
	width: auto;
}
@media screen and (min-width: 768px) {
	.span12 {
		width: 70%;
	}
	.span4 {
		width: 25%;
	}
}
#sticky-anchor {
    z-index: 1;
}

#sticky.nav-right {
	width: auto;
}
.nav-right .menu-links {
    background: rgba(255,255,255,.65);
}

.iframe-fill {
   	border:none;
    width: 100%;
}
@media screen and (min-width: 768px) {
	.iframe-fill {
		height: calc(100vh - 210px);
		position:fixed;
	}
}
/* Level setting for legacy Dashboards */

div#main, div#main .iframe-fill {
	max-width: 1600px;
}



/* Latitude Specific */

@media screen and (min-width: 768px) {
	.theme-latitude .iframe-fill {
		width: calc(100vw - 7rem);
		height: calc(100vh - 14rem);
	}
}

.theme-latitude #main.dashboard.torso {
    max-width:none!important;
}

