@charset "UTF-8";
/* CSS Document */

@import url('https://s3.amazonaws.com/icomoon.io/43188/Dashboard/style.css');


main {
}
body {
	background: #f8f8f8;
}
#torso, .torso {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	position:inherit;
}
#header {
	max-width: 980px;
	margin: auto;
}
.modal {
	height: auto;
}
.theme-latitude #torso,
.theme-latitude .torso {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.theme-latitude #header {
	max-width: 1200px;
	margin: auto;
}

#nav-corporate-label {
	background-color: #417D8B;
}
#nav-corporate-label:hover, 
#nav-corporate-label:focus {
	background-color: #315e68;
}

.profile article footer a.link-readmore {
	background-image: none;
}
.profile article.alert time a.category, .profile time a.category {
	color: inherit;
}

.thumbnail {
	width: auto;
	height: auto;
    padding: 0;
    overflow: hidden;
}
/* Typography */

b, strong { /* This is for the fonts.com hosted Averta */
    font-weight: 600;
}

/* Temporary (maybe) until the Resource Center launch ---- revisit*/
#main.dashboard {
	width: auto;
	max-width: none;
	margin: auto;
	min-height: 100%;
}

/* Keep for International */
header#header .nav > li > a {
    letter-spacing: normal;
}

#bannerCarousel .carousel-indicators {
	bottom: unset;
	left: unset;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}