@charset "UTF-8";
/* CSS Document */

@import url('https://s3.amazonaws.com/icomoon.io/43188/Dashboard/style.css');

.global-colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.color-swatch {

	height: calc(8em + 2vw);
	border-radius: 20px;
	margin-bottom: 10px;
}


.color-heading {
	margin-bottom: 10px;
	align-self: center;
}


@media (max-width: 768px) {
   .color-swatch {
	height: calc(10em + 5vw);  
	}
}